@use "../variables.scss";

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: variables.$accent-color;
    padding: 10px 20px;
    width: 100%;

    button {
        border: none;
        background-color: variables.$background-color-1;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 20px;
    }
}