@use "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    // font-family: "Sour Gummy", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    background-color: variables.$background-color-2;
    color: variables.$text-color;
}